    <div class="wrapper">
      <div class="form-title">
        <h2>サインアップ</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
        <%= f.error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
        </div>

        <div class="field">
          <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
        </div>

        <div class="field">
          <%= f.text_field :username, class: "form-control", placeholder: "ユーザー名" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
        </div>

        <div class="actions">
          <%= f.submit "サインアップ", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

    <%- if devise_mapping.omniauthable? %>
      <div class="or-area text-center row">
        <div class="col-xs-4　col-xs-offset-4">または</div>
      </div>
      <div class="outh-signin">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <% if OmniAuth::Utils.camelize(provider) == "Twitter" %>
            <%= link_to omniauth_authorize_path(resource_name, provider) , class: "outh-twitter" do %>
              <%= fa_icon "twitter" %>Twitterで登録する
            <% end %>
          <% else %>
            <%= link_to omniauth_authorize_path(resource_name, provider) , class: "outh-facebook" do %>
              <%= fa_icon "facebook-official" %>Facebookで登録する
            <% end -%>
          <% end -%>
        <% end -%>
      </div>
    <% end -%>
    <div class="oth-option">
      <span>アカウントをお持ちですか?</span>
      <%= link_to "ログインする", new_session_path(resource_name), class: "oth-link"%>
    </div>
