<% if params[:by] == 'user' %>
  <p class="pic-user-info">
    <%= link_to user_profile_path(getObject(object)), class: 'username' do %>
      <span><%= profile_img(object) %></span>
      <strong><%= getObject(object) %></strong>
      <%= object.name %>
    <% end %>
  </p>
<% else %>
  <div class="back">
    <%= getObject(object) %>
  </div>
  <div class="front">
    <p class="mask"></p>
    <div class="content">
      <span><%= fa_icon "heart", class: "fa-lg" %>&nbsp;<%= object.likes.count %></span>
      <%= fa_icon "comment", class: "fa-lg" %>&nbsp;<%= object.comments.count %>
    </div>
  </div>
<% end %>
