<%= form_for(@picture) do |f| %>
  <%= f.error_messages! %>
  <div class="field">
    <% if @picture.avatar %>
      <div class="form-photo">
        <%= image_tag("#{@picture.avatar}") %>
      </div>
    <% end %>
    <% if current_page? (new_picture_path) %>
      <%= f.label :画像 %><br>
      <%= f.file_field :avatar, class: 'form-control' %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: 'form-control', placeholder: 'キャプションを書く', rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
