<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <% @pictures.each do |picture| %>
      <% if current_user.following?(picture.user) || picture.user.id == current_user.id %>
      <div class="pic-area">
        <div class="pic-user-name">
          <% @users.each do |user| %>
            <% if user.id == picture.user_id %>
              <p class="pic-user-info">
                <%= link_to user_profile_path(user.username), class: 'username' do %>
                  <span><%= profile_img(user) %></span>
                  <%= user.username %>
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
        <div class="pic-photo-area">
          <%= image_tag("#{picture.avatar.url}") %>
        </div>
        <div class="pic-changable-area">
          <div id="pic-likes-<%= picture.id %>" class="pic-likes-area">
            <%= render partial: 'picture_like', locals: { picture: picture } %>
          </div>
          <div class="pic-user-area">
            <% if !picture.comment.empty? %>
              <strong><%= picture.user.name %></strong>
              <%= picture.comment %>
            <% end %>
          </div>
          <div id="pic-all-comments-<%= picture.id %>" class="pic-comment-area">
            <%= render partial: 'comments/comments_feed', locals: {comments: getCommentAll(picture), picture: picture} %>
          </div>
          <div id="pic-action-<%= picture.id %>" class="pic-action row">
            <div id="pic-like-<%= picture.id %>" class="col-xs-2 text-cetner">
              <%= render partial: 'likes/link_like', locals: {picture: picture} %>
            </div>
            <div class="col-xs-10">
              <%= render partial: 'comments/comments_form', locals: { picture: picture, comment: getCommentOne(picture)} %>
            </div>
          </div>
          <div class="pic-action-area">
            <% if picture.user_id == current_user.id %>
              <%= link_to '', edit_picture_path(picture), class: 'fa fa-pencil-square-o fa-2x' %>
              <%= link_to '', picture, class: 'fa fa-trash-o fa-2x', method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div><!-- pic-changable-area -->
      </div><!-- pic-area -->
      <% end %>
    <% end %>
  </div>
</div>
