<p id="notice"><%= notice %></p>

<h1>Listing Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead><%= image_tag("/uploads/picture/avatar/3/menu-thumbnail2.jpg") %>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= image_tag("#{picture.avatar}") %></td>
        <td><%= picture.comment %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
