<p id="notice"><%= notice %></p>
<% @pictures.each do |picture| %>
  <div class="pic-area">
    <div class="pic-user-name">
      <% @users.each do |user| %>
        <% if user.id == picture.user_id %>
          <p class="pic-user-info">
            <span><%= profile_img(user) %></span>
            <%= user.username %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="pic-photo-area">
      <%= image_tag("#{picture.avatar}") %>
    </div>
    <div class="pic-comment-area">
      <%= picture.comment %>
    </div>
    <div class="pic-action-area">
<<<<<<< HEAD
      <% if picture.user_id == current_user.id %>
        <%= link_to '', edit_picture_path(picture), class: 'fa fa-pencil-square-o fa-2x' %>
        <%= link_to '', picture, class: 'fa fa-trash-o fa-2x', method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
=======
      <%= link_to '編集', edit_picture_path(picture) %>
      <%= link_to '削除', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
>>>>>>> 42c9834cd64d7b885570939ec6a6012ee906e90d
    </div>
  </div>
<% end %>
