<div class="photo-detail col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
  <div class="row">
    <div class="photo-area col-sm-6">
      <%= image_tag("#{@picture.avatar}") %>
    </div>
    <div class="col-sm-6 user-area">
      <div class="pic-user-photo">
        <%= link_to user_profile_path(@picture.user.username), class: 'username' do %>
          <span><%= profile_img(@picture.user) %></span>
          <%= @picture.user.username %>
        <% end %>
      </div>
      <div id="pic-likes-<%= @picture.id %>" class="pic-likes">
        <%= render partial: 'picture_like', locals: { picture: @picture } %>
      </div>
      <div class="pic-self-comment">
        <strong><%= @picture.user.name %></strong>
        <span id="comment-feed-<%= @picture.id %>"><%= @picture.comment %></span>
      </div>
      <div id="pic-all-comments-<%= @picture.id %>" class="pic-detail-comments">
        <%= render partial: 'comments/comments_feed', locals: {comments: getCommentAll(@picture), picture: @picture} %>
      </div>
      <div id="pic-action-<%= @picture.id %>" class="pic-detail-action row">
        <div id="pic-like-<%= @picture.id %>" class="col-xs-2 text-center">
          <%= render partial: 'likes/link_like', locals: {picture: @picture} %>
        </div>
        <div class="col-xs-10">
          <%= render partial: 'comments/comments_form', locals: { picture: @picture, comment: getCommentOne(@picture)} %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
    var comment = $("#comment-feed-" + <%= @picture.id %>).text();
    var html = [];
    var comp = [];
    var comp_plural = [];
    var comp_normal = [];
    if(comment.match(/#/)) {
        // スペースと改行で分割
        var tag_by_space = comment.split(/\s|\n/);
        tag_by_space.forEach(function(val, index, ar){
          if(val.match(/#/)) {
            // タグがある場合はタグで分割(スペースがない場合)
            var tag = val.split("#");
            if (tag.length > 1) {
              // 分割して複数ある場合
              tag.shift();
              tag.forEach(function(val_tag, index_tag, ar_tag){
                comp_plural = "<a href='/search?by=picture&q=" + val_tag + "'>#" + val_tag + "</a>";
                html.push(comp_plural);
              });
            } else {
              // 1つしかない場合
              comp = "<a href='/search?by=picture&q=" + tag + "'>#" + tag + "</a>";
              html.push(comp);
            }
          } else {
            // タグがない場合
            html.push(" " + val);
          }
        });
      $("#comment-feed-" + <%= @picture.id %>).html(html);
    }
});
</script>
