<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="row">
      <div class="col-xs-2 profile-img">
        <h2><%= profile_img(@user) %></h2>
      </div>
      <div class="col-xs-10">
        <h1>
          <%= @user.username %>
          <% if @user.id == current_user.id %>
            <%= link_to "プロフィールを編集", edit_user_registration_path, class: 'edit-profile' %>
          <% else %>
            <span id="send-request-<%= @user.id %>" class="follow-area">
              <% if @user.secret == 1 && !current_user.following?(@user) %>
                <%= render 'request_form', user: @user %>
              <% else %>
                <%= render 'follow_form', user: @user %>
              <% end %>
            </span>
          <% end %>
        </h1>
        <ul class="profile-area">
          <li>投稿<strong><%= @user.pictures.count %></strong>件</li>
          <li>
            <%= link_to follower_path, class: '' do %>
              フォローワー<span id="follower-count"><%= @user.followers.count %></span>人
            <% end %>
          </li>
          <li>
            <%= link_to following_path, class: '' do %>
              <strong><%= @user.followed_users.count %></strong>人をフォロー中
            <% end %>
          </li>
        </ul>
        <p><%= @user.name %></p>
      </div>
    </div><!-- row -->
    <div class="following-area">
      <h3>フォローしている人</h3>
      <% @followings.each do |following| %>
      <div class="following-list">
        <%= following.name %>
        <span id="send-request-<%= following.id %>" class="following-btn">
          <%= render 'follow_form', user: following %>
        </span>
      </div>
      <% end %>
    </div>
  </div>
</div>
