<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="row">
      <div class="col-xs-2 profile-img">
        <h2><%= profile_img(@user) %></h2>
      </div>
      <div class="col-xs-10">
        <h1>
          <%= @user.username %>
          <% if @user.id == current_user.id %>
            <%= link_to "プロフィールを編集", edit_user_registration_path, class: 'edit-profile' %>
          <% else %>
            <span id="send-request-<%= @user.id %>" class="follow-area">
              <% if @user.secret == 1 && !current_user.following?(@user) %>
                <%= render 'requests/request_form', user: @user %>
              <% else %>
                <%= render 'follow_form', user: @user %>
              <% end %>
            </span>
          <% end %>
        </h1>
        <p><%= @user.name %></p>
      </div>
    </div><!-- row -->
    <div class="following-area">
      <h3>フォローしている人</h3>
      <% @followings.each do |following| %>
        <div class="following-list">
          <%= link_to user_profile_path(following.username) do %>
            <%= following.name %>
          <% end %>
          <% if current_user.id != following.id %>
            <span id="send-request-<%= following.id %>" class="following-btn">
              <% if following.secret == 1 && !current_user.following?(following) %>
                <%= render 'requests/request_form', user: following %>
              <% else %>
                <%= render 'follow_form', user: following %>
              <% end %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
