<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="row">
      <div class="col-xs-2 profile-img">
        <h2><%= profile_img(@user) %></h2>
      </div>
      <div class="col-xs-10">
        <h1>
          <%= @user.username %>
          <% if @user.id == current_user.id %>
            <%= link_to "プロフィールを編集", edit_user_registration_path, class: 'edit-profile' %>
          <% else %>
            <span id="send-request-<%= @user.id %>" class="follow-area">
              <%= render 'follow_form', user: @user %>
            </span>
          <% end %>
        </h1>
        <ul class="profile-area">
          <li>投稿<strong><%= @user.pictures.count %></strong>件</li>
          <li>フォローワー<span id="follower-count"><%= @user.followers.count %></span>人</li>
          <li><strong><%= @user.followed_users.count %></strong>人をフォロー中</li>
        </ul>
        <p><%= @user.name %></p>
      </div>
    </div>
    <div class="picture-area">
      <%= render 'picture_feed', pictures: @pictures, user: @user %>
    </div>
  </div>
</div>
